<h1>working...</h1>
<h2>Steps for ngx toaster</h2>
<h4>
  Install ngx-toastr plugin
  First, open the terminal and run the following command inside your project to install the ngx-toastr plugin
  <h2>npm install ngx-toastr --save --force</h2>
  Next, you need to install animation package which is required to toastr plugin.
  <h2>npm install @angular/animations --save --force</h2>

  <h1>Applying toastr styling</h1>
  Next open angular.json and add the following style which is required for toastr.<br>
  <textarea>"styles": [
  "src/styles.scss",
  "node_modules/ngx-toastr/toastr.css"
],</textarea>

  <h2>Import toasrt module</h2>
  Next open app.module.js file and import BrowserAnimationsModule and ToastrModule.
  <br>
  <textarea>
  import { BrowserAnimationsModule } from '@angular/platform-browser/animations';

import { ToastrModule } from 'ngx-toastr';

@NgModule({
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    BrowserAnimationsModule,
    ToastrModule.forRoot()
  ],
  providers: [],
  bootstrap: [AppComponent]
})
</textarea>
<h1>How to show toastr</h1>
First, you should apply ToastrService to the component where you want to show the toastr. Also need to initiate through the constructer method.
Then you can use different methods like success, warning, error based on your requirement.
<textarea>
  import { ToastrService } from 'ngx-toastr';

export class LandingComponent implements OnInit {

 
  constructor(private toastr:ToastrService) { }

  ngOnInit(): void {
  }

  showToastr(){
    this.toastr.success('This is the success toastr')
  }

}
</textarea>

<h1>Add a title to toastr</h1>
The first parameter of the method success accept the message and you can pass the title for the second parameter.
<br>
<textarea>
  showToastr(){
    this.toastr.success('This is the success toastr',"Success")
  }
</textarea><br>
<button (click)="Successtoastr()">Show Toastr!!!</button>

<h1>Toastr Modifications</h1>
By default, toastr will appear in the right top corner.
This can be changed by setting positionClass when importing the module.
<br>
<textarea>
  ToastrModule.forRoot({
    positionClass: 'toast-top-center',
    <!-- (By default, toastr will appear in the right top corner.
    This can be changed by setting positionClass when importing the module.) -->
    preventDuplicates: true,
    <!-- (Disable multiple/ duplicate toastr
    If you click the button multiple times you can see a lot of toastrs appear on the screen.
    To prevent that you can disable the duplicates.) -->
    closeButton:true, <!-- (Show close button in the toastr) -->
    
    timeOut:2000,    <!-- (Change the toastr dismiss time out
      Default toastr will disappear after 5 seconds. This can be changed by setting timeOut property. This accepts a value as milliseconds and makes sure to convert seconds to milliseconds before adding.) -->

    maxOpened:2     <!-- (Restrict no of toastrs that can be appeared at a time
      If you want to show multiple toastrs and need to control the maximum numbers, maxOpened property will allow to do that.) -->
})
</textarea>

<h1>Setting up toastr level configurations</h1>
Previously we show the way of adding different config root levels which will affect all toastrs. But you can add those in toastr level if you required different configs for different places in the app.
<br>
<textarea>
  showToastr(){
    this.toastr.success('This is the success toastr',"Success")
    this.toastr.error('This is the error toastr',"Error",{
      timeOut:10000,
      closeButton:true
    })
  }
</textarea>



</h4>

<button (click)="Errortoastr()" style="color: tomato;">Error Toast Me!!!</button>
<button (click)="Successtoastr()" style="color: green;">Success Toast Me!!!</button>